.jumbotron {
    background-color: #336699;
    color:#DDDDDD;
     font-family:fantasy;
    margin-top: 40px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #33FF99;
    margin-bottom: 0px;
    margin-top: 10px;
    
}

.btn {
    background-color: #339966;
    color:blanchedalmond;
    border: 2px solid #0066FF;
    
}

.card-hotel {
    flex: 1 145px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    
}

.footer-address-icon{
    padding-right: 10px; 
}

.tab-content{
    padding-top: 10px;
}