$blue: #045FB4;

@mixin margenes ($top, $bottom){
margin-top: $top;
margin-bottom: $bottom;
}

.jumbotron {
    background-color: $blue;
    color:#DDDDDD;
    font-family:fantasy;
    @include margenes(40px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #33FF99;
    @include margenes(10px, 0px);
    
}

.btn {
    background-color: #339966;
    color:blanchedalmond;
    border: 2px solid #0066FF;
    
}

.card-hotel {
    flex: 1 145px;
    padding: 2px 0px 2px 0px;
    @include margenes(10px, 0px);
   
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    
}

.footer-address-icon{
    padding-right: 10px; 
}

.tab-content{
    padding-top: 10px;
}